
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}


$fontFamily: 'Fira Sans', sans-serif;

// Общие параметры
body {
    font-family: $fontFamily;
    color: #8D8D8D;
    font-size: 18px;
    overflow-x:hidden;
}


button {
    display: block;
    background: transparent;
    border: 0;
    outline: 0!important;
}

h1 {
    font-style: normal;
    font-weight: 700;
    color: #151515;
    font-size: 60px;
    line-height: 1.2em;
}

h2 {
    font-style: normal;
    font-weight: 600;
    color: #151515;
    font-size: 39px;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #3726F2;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 13px 26px;
    outline: none;
    display: inline;
    border-radius: 0;
    letter-spacing: 0.25em;
    transition: all 0.3s ease all;
    &:hover {
        background-color: #2318a4;
        color: #fff;
    }
}

.header-bgimage {
    position: static;
    
}

.header {

    &__nav {
        padding-top: 60px;
        margin-bottom: 127px;
    }

    &__search {
    }

    &__menu {
    }
}

.header-content {

    &__container {
        margin-bottom: 405px;
        @media (max-width:992px) {
            margin-bottom: 0px;
        }
    }

    &__title {
        h1 {
            @media (max-width:450px) {
                font-size: 40px;
            }
        }
    }

    &__subtitle {
        margin: 30px 0px 56px;
    }

    &__hero {
        background: url('../img/img1.jpg') no-repeat right top;
        background-size: 80% 100%;
        width: 60%;
        height: 840px;
        position: absolute;
        top: 142px;
        right: 0;
        @media (max-width:992px) {
            width: 92%;
            position: relative;
            margin-top: -70px;
            margin-bottom: 50px;
            height: 640px;
        }
    }

    &__video {
        position: absolute;
        left: 0;
        bottom: 133px;
        width: 400px;
        height: 364px;
        display: block;
        background: url('../img/video.jpg') no-repeat center center;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: '';
            display: block;
            background: url('../img/play.svg');
            width: 65px;
            height: 65px;
        }
        @media (max-width: 1200px) {
            bottom: 95px;
        }
        @media (max-width:992px) {
            bottom: 133px;
        }
        @media (max-width:450px) {
            width: inherit;
        }
    }
}

.problems {
    padding-top: 155px;

    &__image {
        margin-bottom: 50px;
    }

    &__container {

    }

    &__title {
        padding-bottom: 20px;
        &_mobile {
            @media (max-width:768px) {
                font-size: 26px;
            }
        }
    }

    &__subtitle {
        padding: 10px 0px;
    }
}

.author-problems {
    display: flex;
    padding-top: 50px;
    &__image {

    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #222222;
    }

    &__subtitle {

    }
}

.services {
    padding-top: 140px;
    &__top {

    }
}

.services-top {

    &__label {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.3em;
        color: #8f8f8f;
        margin-bottom: 40px;
    }

    &__title {
        &_mobile {
            @media (max-width:768px) {
                font-size: 26px;
            }
        }
    }

    &__list {
        color: #8D8D8D;
        margin-top: 67px;
        &_left {
            margin-left: 20px;
            @media (max-width:576px) {
                margin-left: 0;
            }
        }
    }

    &__item {
        margin-bottom: 20px;
    }
}

.owl-nav {
    display: flex;
    margin-top: 50px;
}

.owl-prev {
    margin-right: 20px;
}

.works-carousel {
    margin-top: 100px;
}

.owl-item {
    position: relative;
}

.owl-carousel__play {
    cursor: pointer;
    display: block;
    background: url('../img/play.svg');
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

.result {
    
    padding-top: 181px;
    &__collage {
        width: 50%;
        background: url('../img/img6.jpg') no-repeat left top / 80% 70%;
        height: 552px;
        position: absolute;
        left: 0;
        img {
            display: block;
            position: absolute;
            width: 350px;
            height: 453px;
            right: 0;
            bottom: 0;
            box-shadow: 30px 80px 130px rgba(0,0,0,0.25)
        }
        @media (max-width: 769px) {
            width: 100%;
            position: relative;
        }
        @media (max-width: 420px) {
            background: none;
        }
    }
    &__container {
        padding-top: 38px;
        margin-left: 65px;
    }

    &__title {
        padding-bottom: 20px;
    }

    &__subtitle {
        padding: 10px 0px;
    }
    @media (max-width: 769px) {
        padding-top: 100px;
    }
}

.images-container {
    display: flex;
    padding-top: 30px;
    align-items: center;
    margin-top: 20px;
    &__image {
        &_first {
            background: url('../img/icon100.svg') no-repeat left center;
            padding-left: 83px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &_second {
            background: url('../img/bag.svg') no-repeat left center;
            padding-left: 83px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }

    &__title {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #000000;
    }

    &__subtitle {

    }
}

.works {
    padding-top: 283px;

    &__items {
        margin-left: 60px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        margin-top: 40px;
        @media (max-width:992px) {
            margin-left: 0px;
        }
        @media (max-width:450px) {
            flex-direction: column;
        }
    }

    &__item {
        a {
        text-decoration: none;
        color: #8D8D8D;
        }
        @media (min-width:992px) {
            margin-left: 0;
        }
        @media (max-width:450px) {
            margin-bottom: 15px;
        }
    }

    &__item.active {
        a {
        color: #1434E1;
        }
    }

    &__images {

    }
    @media (max-width:992px) {
        padding-top: 100px;
    }
}

.works-top {

    &__label {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.3em;
        color: #8f8f8f;
        margin-bottom: 40px;
    }

    &__title {
        &_mobile {
            @media (max-width:768px) {
                font-size: 26px;
            }
        }
    }
}

.works-wrap {
    flex-wrap: wrap;
    margin-top: 108px;
    &__item {
        margin-bottom: 30px;
        position: relative;
        width: 30%;
        &:hover img {
            box-shadow: -30px 80px 200px rgba(0,0,0,0.25);
            -moz-transform: scale(1.0) translate(0px, -20px);
            -webkit-transform: scale(1.0) translate(0px, -20px);
            -o-transform: scale(1.0) translate(0px, -20px);
            -ms-transform: scale(1.0) translate(0px, -20px);
            transform: scale(1.0) trans0late(0px, -20px);
            transition: all 1s ease all;
        }
        &:hover::after {
            content: '';
            display: block;
            background: url('../img/play.svg');
            width: 65px;
            height: 65px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -32px;
            margin-top: -32px;
        }
        @media (max-width:576px) {
            width: 100%;
        }
    }
    @media (max-width:576px) {
        margin-top: 50px;
    }
}

.works-wrap__item img {
    transition: all 1s ease;
    display: block;
    width: 100%;
}

.tabs__content {
    display: none !important; 
  }
  .tabs__content.active {
    display: flex !important; 
  }

.testimonials {
    padding-top: 250px;

    &__photo {
        display: block;
    }
    @media (max-width:992px) {
        padding-top: 100px;
    }
    @media (max-width:576px) {
        padding-top: 50px;
    }
}

.testimonials-left {
    &__label {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.3em;
        color: #8f8f8f;
        margin-bottom: 70px;
        @media (min-width:768px) {
            margin-bottom: 30px;
        }
    }

    &__title {
        &_mobile {
            @media (max-width:768px) {
                font-size: 26px;
            }
        }
    }

    &__contributor {
        margin-top: 120px;
        @media (max-width:992px) {
            margin-top: 50px;
        }
    }

   
}

.contributor {

    &__title {
        font-weight: 500;
        font-size: 22px;
        color: #222222;
        padding-bottom: 15px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
    }
}

.contributor-carousel .owl-nav {
    display: flex;
    margin-top: -50px;
    position: relative;
    @media (max-width:992px) {
        margin-top: 40px;
    }
}

.clients {
    padding-top: 278px;
    @media (max-width:992px) {
        padding-top: 80px;
    }
}

.client-top {


    &__title {
         &_mobile {
            @media (max-width: 992px) {
                font-size: 26px;
            }
        }
    }

    &__container {

    }
}

.worked-with {

    &__title {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.3em;
        color: #222222;
        margin-bottom: 17px;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
    }
}

.clients-row {
    margin-top: 100px;
    margin-bottom: 140px;
    @media (max-width: 992px) {
        margin-top: 40px;
        margin-bottom: 60px;
    }
    @media (max-width: 576px) {
        flex-direction: column;
    }
    &__item {
        @media (max-width: 576px) {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.footer {
    height: 240px;
    background: #515151;
    display: flex;
    align-items: center;
}